/*SEMANTIC UI STYLE MANIPULATIONS*/
.blue:hover{
  transform: scale(.99);
  cursor: pointer;
  color: #4c83d5;
}




/*APP STYLES*/
body{
  background-color: #f2f6f8;
}
.full{
  width: 100vw;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.floatCard{
  position: relative;
  float: left;
  box-shadow: 3px 3px 10px 5px #87878768;
}
.floatCard:hover{
  box-shadow: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.font_20{
  font-size: 20px;
}
.font_24{
  font-size: 24px;
}
.font_blue{
  color: #4c83d5;
}
.font_blue:hover{
  font-weight: bold;
}  
.stroke{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.358);
}
.bg_white{
  background-color: white;
}
.bg_form{
  background-color:#f2f6f8;
}
ul{
  list-style-type: none;
}
.alignRight{
  float: right;
  right: 0;
}
.marg_10{
  margin: 10px;
}
.margin_top_10{
  margin-top:10px;
}
.margin_left_20 {
  margin-left: 20px;
}
.margin_left_25 {
  margin-left: 25px;
}
.padding_top_50 {
  padding-top: 50px;
}
.pad_10{
  padding: 10px;
}
.pad_20{
  padding: 20px;
}
.radius_round {
  border-radius: .6em;
} 
.headLogo{
  margin: 10px;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  color: #4c83d5;
}
/*HOMEPAGE STYLES*/
#navigation{
  width: 100vw;
  border: 0px;
  margin: 0px;
  box-shadow: 3px 3px 10px 5px #87878768;
}
#recentPosts{
  position: relative;
  float: left;
  margin: 0 auto;
  right: 10px;
  top: 10px;
  width: 30vw;
  border: 1px solid rgba(128, 128, 128, 0.241);
  box-shadow: 3px 3px 10px 5px #87878768;
}
#recentPosts:hover{
  box-shadow: none;
}
#menuBtn{
  font-size: 30px;
  margin-top:-5px;
}
#menuBtn:hover{
  cursor: pointer;
  color: #4c83d5;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4c83d5;
}
#mainMenu{
  position: absolute;
  float: right;
  width: 220px;
  height: 170px;
  text-align: center;
  margin-top:-30px;
  margin-right: 40px;
  right: 0;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 0.2em;
  box-shadow: 2px 2px 8px 2px #87878768;
  background-color: white;
  z-index: 99;
}
.browseBtn{
  font-size: 15px;
  cursor: pointer;
}
.browseBtn:hover{
  color: #4c83d5;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4c83d5;
}
#dropdownMenu {
  position: absolute;
  float: right;
  width: 85vw;
  margin-top:62px;
  margin-right: 130px;
  right: 0;
  background-color: white;
  z-index: 98;
}
.searchBar{
  position: relative;
  float: left;
}
.prompt{
  width: 40vw;
}

/*USER STYLES*/
#userFormContainer{
  position: relative;
  margin: 0 auto;
  top: 10%;
  width: 500px;
  height: 80vh;
}
.userFormSubmit{
  position: relative;
  font-size: 22px;
  color: white;
  padding: 10px;
  border: 2px solid white;
  background-color: #4c83d5;
  cursor: pointer;
  z-index: 50;
}

/*POST STYLES*/
.PostsPage{
  width: 65vw;
}
#youTube {
  position: absolute;
  top: 180px;
  left: 20%;
  width: 60vw;
  height: 50vh;
  border: 3px solid #4c83d5;
  box-shadow: 3px 3px 10px 5px #87878768;
  z-index: 95;
}
.youTubeClose{
  position: relative;
  top:40px;
  font-size: 22px;
  color: white;
  padding: 10px;
  border: 2px solid white;
  background-color: #4c83d5;
  cursor: pointer;
  z-index: 50;
}

/*COMMENT STYLES*/
.commentContainer{
  position: relative;
  right: 25px;
}






@media only screen and (max-width: 1200px){
  .none{
    display:none;
  }
  .prompt{
    width: 50vw;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}