.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#navigation{
  width: 100%;
  border: 0px;
  margin: 0px;
}
body{
  background-color: #f2f6f8;
}
#dropdownMenu {
  margin-top:40px;
}
#browseCta{
  position: relative;
  margin: 0 auto;
  justify-content: right;
  float: right;
}
.prompt{
  width: 60vw;
}
.marg_10{
  margin: 10px;
}
.pad_10{
  padding: 10px;
}
.pad_20{
  padding: 20px;
}
.floatCard{
  position: relative;
  float: left;
  box-shadow: 3px 3px 10px 5px #87878768;
  
}
.floatCard:hover{
  box-shadow: 1px 1px #87878768;
}
.alignRight{
  float: right;
  right: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}