.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.font_16{
  font-size: 20px;
}
#navigation{
  width: 100vw;
  border: 0px;
  margin: 0px;
}
body{
  background-color: #f2f6f8;
}

#recentPosts{
  position: relative;
  float: left;
  margin: 0 auto;
  right: 10px;
  top: 20px;
  width: 30vw;
  box-shadow: 3px 3px 10px 5px #87878768;
}
#menuBtn{
  font-size: 22px;
}
#menuBtn:hover{
  cursor: pointer;
  color: #61dafb;
}
.browseBtn{
  font-size: 15px;
  cursor: pointer;
}
.browseBtn:hover{
  color: #61dafb;
}
#dropdownMenu {
  position: absolute;
  float: right;
  width: 85vw;
  margin-top:62px;
  margin-right: 130px;
  right: 0;
  background-color: white;
  z-index: 98;
}
#mainMenu{
  position: absolute;
  float: right;
  width: 150px;
  text-align: center;
  margin-top:-30px;
  margin-right: 50px;
  right: 0;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 0.2em;
  box-shadow: 2px 2px 8px 2px #87878768;
  background-color: white;
  z-index: 99;
}
.searchBar{
  position: relative;
  float: left;
}
.prompt{
  width: 60vw;
}
.marg_10{
  margin: 10px;
}
.pad_10{
  padding: 10px;
}
.pad_20{
  padding: 20px;
}
.PostsPage{
  width: 65vw;
}
.floatCard{
  position: relative;
  float: left;
  box-shadow: 3px 3px 10px 5px #87878768;
  
}
.floatCard:hover{

  box-shadow: 1px 1px #87878768;
}
.alignRight{
  float: right;
  right: 0;
}
.full{
  width: 100vw;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}